Subject: Activate Your Capacity Market Search Account

Hi {{ user.username }},

Thank you for registering with Capacity Market Search. Please click the link below to activate your account:

{{ activation_link }}

Important information about your account:

- Once activated, you'll have 1 HOUR of free access to explore all our features
- You can check your remaining free time on your Account page
- After your free period expires, you'll be prompted to upgrade for continued access

If you did not request this registration, please ignore this email.

Thanks,
Capacity Market Search Team 